html {
    margin: unset;
    padding: unset;
}
body {
    margin: unset;
    background-color: #0a0a0a;
    border-top: 13px solid #3a3a3a;
    box-sizing: unset;
    padding: 56px;
    text-align: center;
}
.description {
    text-align: left;
}
header {
    max-width: 1240px;
    width: 100%;
    margin:  0 auto;
}
.role {
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.625em;
    letter-spacing: 1px;
}
.banner-text-greeting {
    font-size: 47px;
    font-weight: 700;
    display: inline-block;
    margin-bottom: unset;
    margin-top: unset;
}
.banner-text {
    color: #fff;
    display: inline-block;
    font-size: 34px;
    font-weight: 400;
    text-align: center;
    width: 100%;
    margin-bottom: 0;
    line-height: 1.3;
}
.project-description {
    margin-bottom: 0.250em;
    margin-top: unset;
    color: #ccc; 
}
.role {
    color: #9e9e9e;
}
p {
    color: white;
    font-family: Vollkorn, sans-serif;
    
}
h3 {
    margin-top: unset;
    margin-bottom: 0.2em;
    font-weight: 400;
    font-size: 24px;
}

.img {
    text-align: center;
    padding-top: 0.5em;
  }
.wrapper {
      text-align: left;
      
  }
  h1 {
    color: white;
    font-family: 'Vollkorn', sans-serif;
    text-align: center;
    font-weight: 400;
    line-height: 1.5;
    padding-left: 32px;
    padding-right: 32px;
    margin-bottom: 0;
    margin-top: 0;
    display: block;
}
h2 {
    color: white;
    font-family: 'Vollkorn', serif;
    text-align: center;
    padding-left: 2em;
    padding-right: 2em;
    font-size: 2.938em;
    margin-top: 0;
    margin-bottom: 16px;
    color: white;
    font-weight: 900;
    word-wrap: break-word;

}
h3 {
    font-size: 1.5em;
    margin-bottom: 0.2;
}
hr {
    border-top: none;
    border-right: none;
    border-left: none;

    padding-bottom: 72px;
    margin-bottom: 56px;
    border-bottom: 3px double;
    border-bottom-color: #575656;
}
a {
    text-decoration: none;
    transition: .2s;
    color: #ff3;
}
a:hover {
    color: #575656;

    
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-rows: repeat(3, 1fr); */
    grid-gap: 24px;
    max-width: 1240px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3.5em;
    padding-bottom: 4.5em;
    border-bottom: 1px solid #575656;



}
img {
    width: auto;
    max-width: 100%;
    height: auto;
    overflow: hidden;
}
.img {
    margin-left: 45%;
    margin-right: 45%;
}

.photography {
    max-width: 1240px;
}
.photography-grid {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-gap: 1.5em;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 100%;
    margin-bottom: 3.5em;
    padding-bottom: 4.5em;
    border-bottom: 1px solid #575656;
}
.biker {
    grid-column-start: span 2;
    grid-row-end: span 2;
}
.main-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1240px;
}
.currently-listening {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 24px;
    max-width: 1240px;
}
.cover-image {
    width: 292px;
    height: 292px;
}
.artist-name {
    color: white;
}
@media screen and (max-width: 980px)  {
    .grid-container {
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 1.5em;
        
    }
    h2 {
        font-size: 1.5em;
    }
    body {
        padding: 3.5em;
        background-color: #0a0a0a;
        margin-left: 1em;
        margin-right: 1em;
        border-top: 13px solid #3a3a3a;
        box-sizing: unset;
    }
    img {
        width: auto;
        max-width: 100%;
        height: auto;
        overflow: hidden;
    }
}
@media screen and (max-width: 470px )  {
    .grid-container {
        display: grid;
        grid-template-columns: auto;
        grid-gap: 1.5em;
        
    }
    h2 {
        font-size: 1.5em;
    }
    body {
        padding: 2.5em;
        background-color: #0a0a0a;
        border-top: 13px solid #3a3a3a;
        margin: unset;
    }
    img {
        width: auto;
        max-width: 100%;
        height: auto;
        overflow: hidden;
    }
}