
body {
    padding-top: 56px;
    padding-right: 120px;
    padding-bottom: 56px;
    padding-left: 120px;
    background-color: #0a0a0a;
    margin-left: 1em;
    margin-right: 1em;
}

.img {
  text-align: center;
  padding-top: 0.5em;
}
header {
    padding-bottom: 56px;
}
h1 {
    color: white;
    font-family: 'Vollkorn', sans-serif;
    text-align: center;
    font-size: 47px;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 2px;
    margin-bottom: 0;
    margin-top: 0;
    display: block;
}
h2 {
    color: white;
    font-family: 'Vollkorn', serif;
    text-align: center;
    padding-left: 2em;
    padding-right: 2em;
    font-size: 2.1em;
    margin-top: 0;
    color: #ccc;
    font-weight: inherit;
    word-wrap: break-word;
    padding-bottom: 2em;
    border-bottom: 3px double;
    border-bottom-color: #575656;
    margin-bottom: 1rem;

}
a {
    text-decoration: none;
    transition: .2s;
    color: #ff3;
}
a:hover {
    color: #575656;

    
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 41.73vh 41.73vh 41.73vh;
    grid-gap: 24px;
    width: 100%;
    max-height: auto;

}

.grid-item1 {
    color: azure;
    text-align: center;
    font-size: 23px;
    background-image: url(https://jonchretien.com/img/work_s4a.jpg);
    object-fit: contain;
    background-size: contain;
    background-repeat: no-repeat;
    text-align: left;
    z-index: 1;
    max-width: 397px;

    
}
.grid-item2 {
    color: azure;
    text-align: center;
    font-size: 23px; 
}
.grid-item3 {
    color: azure;
    text-align: center;
    font-size: 23px; 
}
.grid-item4 {
    color: azure;
    text-align: center;
    font-size: 23px; 
}
.grid-item5 {
    color: azure;
    text-align: center;
    font-size: 23px; 
}
.grid-item6 {
    color: azure;
    text-align: center;
    font-size: 23px; 
}
.grid-item7 {
    color: azure;
    text-align: center;
    font-size: 23px; 
}
.grid-item8 {
    color: azure;
    text-align: center;
    font-size: 23px; 
}
.grid-item9 {
    color: azure;
    text-align: center;
    font-size: 23px; 
}
.grid-container-photo {
    grid-gap: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
}
.grid-item10 {
    background-color:#3a3a3a00;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    height: 406.317px;
    width: 608px;
    transition: background-color 400ms ease-in-out;
    background-image: url('https://jonchretien.com/img/stripes.jpg');
}
.grid-item11 {
    background-color:#3a3a3a00;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    height: 406.317px;
    width: 608px;
    transition: background-color 400ms ease-in-out;
    background-image: url('https://jonchretien.com/img/camera.jpg');
}
.grid-item12 {
    background-color:#3a3a3a00;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    height: 828px;
    transition: background-color 400ms ease-in-out;
    background-image: url('https://jonchretien.com/img/biker.jpg');
    grid-row: span 2;
    grid-column: span 2;
}
.grid-item13 {
    background-color:#3a3a3a00;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    height: 411.25px;
    transition: background-color 400ms ease-in-out;
    background-image: url('https://jonchretien.com/img/ballerina.jpg');
}
.grid-item14 {
    background-color:#3a3a3a00;
    background-size: contain;
    background-position: center;
    background-blend-mode: multiply;
    height: 403.17px;
    transition: background-color 400ms ease-in-out;
    background-image: url('https://jonchretien.com/img/warriors.jpg');
}
.grid-img {
    object-fit: contain;
    object-position: inherit;
    
}


img {
    object-fit: contain;
    background-size: contain;
    background-repeat: no-repeat;
}

p {
    display: none;
}








/* font-family: 'Vollkorn', serif; */